.wrapper-main{
    display: flex;
}
.wrapper-nav{
    background-color: #319b74;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  2rem 2rem;
}
.wrapper-nav .wrapper-items{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    text-transform: uppercase;
    font-weight: 700;
}
.wrapper-main .wrapper-nav .wrapper-items .logo{
    width: 15rem;
}

.wrapper-main .wrapper-nav .wrapper-items .btn{
    background: none;
    border: solid 1px #000000;
    border-radius: .5rem;
    color: #000000;
    padding: 0rem .5rem;
    font-size: 2rem;
}
.wrapper-main .wrapper-nav .wrapper-items .btnHamburguesaMenu{
    background: none;
    border: none;
}
.wrapper-main .wrapper-nav .wrapper-items .btnHamburguesaMenu .menu-hamburguesa{
    text-align: center;
    width: 3.5rem;
}
.wrapper-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrapper-footer .wrapperAboutUs{
    box-sizing: border-box;
    padding: 0 2rem;
}
.wrapperAboutUs:first-of-type{
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
    min-width: 14rem;;
    padding: 1rem 2rem;
}
.wrapperAboutUs .aboutUsTitle{
    text-align: center;
    font-size: 1.3rem;
}
.wrapperAboutUs .textAboutUs{
    font-size: .9rem;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px){
    .wrapper-main{
        flex-direction: column;
        justify-content: space-around;
    }
    .wrapper-footer{
        flex-direction: column;
    }
    .wrapper-main .wrapper-nav .wrapper-items .logo{
        width: 10rem;
        margin-bottom: 1rem;
    }
    .wrapper-main .wrapper-nav .wrapper-items .menuTitle{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    .wrapper-main .wrapper-nav .wrapper-items .btn{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    .wrapper-main .wrapper-nav .wrapper-items .btnHamburguesaMenu .menu-hamburguesa{
        text-align: center;
        width: 2rem;
        margin-bottom: 1rem;
    }
    .wrapper-footer .wrapperAboutUs{
        padding: 0rem 2rem;
    }
    .wrapperAboutUs:first-of-type{
        width: 100%;;
        padding: 1rem 2rem;
        margin-bottom: 2rem;
    }
 }
/* Medium devices (tablets, 768px and up) */
@media(min-device-width: 768px) and (max-device-width: 1024px) {
    .wrapper-main{
        flex-direction: column;
        justify-content: space-around;
    }
    .wrapper-main .wrapper-nav .wrapper-items .logo{
        width: 14rem;
        margin-bottom: 1rem;
    }
    .wrapper-main .wrapper-nav .wrapper-items .menuTitle{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .wrapper-main .wrapper-nav .wrapper-items .btn{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .wrapper-main .wrapper-nav .wrapper-items .btnHamburguesaMenu .menu-hamburguesa{
        text-align: center;
        width: 2.5rem;
        margin-bottom: 1rem;
    }
    .wrapper-footer .wrapperAboutUs{
        padding: 2rem 2rem;
    }
    .wrapperAboutUs:first-of-type{
        width: 100%;;
        padding: 1rem 2rem;
        margin-bottom: 2rem;
    }
}
